

.wrapper{
    background-color: #B69DFA;
    flex-grow: 1;
}

.registrationForm{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    padding: 20px;
}

.registrationFormBtn {
    margin: 10px 0 0 0;
}
.formInput{
    margin: 5px 0 0 0;
    width: 200px;
}

h2{
    padding: 20px;
}

